* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: #16252d;
}

.login-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(180deg, #002c54, #16252d);
  transition: .4s;
}

.login-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.login-form h2 {
  font-weight: 400;
  margin-top: 0;
}

.textb {
  display: block;
  box-sizing: border-box;
  width: 240px;
  background: #cd7213;
  border: 1px solid white;
  padding: 10px 20px;
  color: white;
  outline: none;
  margin: 10px 0;
  border-radius: 6px;
  text-align: center; 
}